<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<h1>Поиск по сайту</h1>
		<div class="table-responsive">
			{searchtable}
		</div>
		[searchmsg]
			<div class="well">{searchmsg}</div>
		[/searchmsg]
	</div>
</div>